<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration >

    <!--配置日志输出-->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <!--让数据库带下划线的字段自动转换成驼峰命名-->
        <!--<setting name="mapUnderscoreToCamelCase" value="true"/>-->
    </settings>

    <!--配置一个包的别名，这样返回值可以只写类名，不写包名-->
    <typeAliases>
        <package name="com.lin.model" />
    </typeAliases>

    <!--配置数据库连接信息-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
                <property name="" value="" />
            </transactionManager>
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis?characterEncoding=utf8&amp;useSSL=false" />
                <property name="username" value="root" />
                <property name="password" value="123456" />
            </dataSource>
        </environment>
    </environments>

    <!--Mapper文件的路径-->
    <mappers>
        <!--<mapper resource="com/lin/mapper/CountryMapper.xml"/>-->
        <!--<mapper resource="com/lin/mapper/UserMapper.xml"/>-->
        <!--<mapper resource="com/lin/mapper/RoleMapper.xml"/>-->
        <!--<mapper resource="com/lin/mapper/PrivilegeMapper.xml"/>-->
        <!--<mapper resource="com/lin/mapper/UserRoleMapper.xml"/>-->
        <!--<mapper resource="com/lin/mapper/RolePrivilegeMapper.xml"/>-->

        <!--package指定扫描某个表下的所有文件，等效于写上面一堆mapper标签-->
        <package name="com.lin.mapper"/>
    </mappers>

</configuration>
